  
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #7c7c7c;
  width: 800px;
  max-width: 80%;
  margin: auto;
}

h1, h2, h3 { color: #464646; }

a {
  text-decoration: none;
  color: #2ba6cb;
}

ul.posts { list-style-type: square; }
ul.projects { list-style-type: none; padding-left: 0; }

.highlight pre, pre {
  background-color: #ffffff;
  border: 1px solid #ccc;
  line-height: 1.3em;
  font-size: 14px;
  padding: 10px;
  font-family: 'Source Code Pro', monospace;
}

.highlight code { font-weight: normal; }

code {
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
}


header, header a  { color: #464646; }
header span#name  { font-size: 4em; font-weight: bold; }
header span#title { font-size: 3em; }

quote.header {
  font-style: italic;
  font-weight: bold;
}
