
.content {
  margin: 0 auto 50px auto;
}

.content #title {
    font-size: 5em;
    text-align: center;
}

pre {
  padding: 10px;
  border: 1px solid #ccc;
  overflow: auto;
 word-wrap: normal;
}

code {
  font-family: 'Source Code Pro', monospace;
}

.menu h1 {
  line-height: 32px;
  margin-bottom: 5px;
}

.menu h1 a {
  text-decoration: none;
  color: black;
}

.content {
  width: 60%;
}

.menu p {
  margin-top: 0px;
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.5em;
}

span.title {
  font-weight: bold;
}


@media (min-width: 1000px) {
  .menu {
    width: 150px;
    position: fixed;
    margin-left: 20px;
    margin-top: 20px;
    bottom: 0px;
  }

  .menu h1 {
      text-align: right;
  }
}

@media (max-width: 999px) {
  /*.menu {
    display: none;
  }*/

  .menu h1 {
    text-align: center;
  }

  .content {
    width: 90%;
  }

  .content #title {
    font-size: 3em;
  }
}
