.index {
  height: 100%;
  display: flex;
  align-items: center
}

.index-header {
  max-width: 900px;
  margin: auto auto;
}

.index-header .title {
  font-size: 6em;
  text-align: right;
  margin: 0;
}

.index-header .tagline {
  font-size: 4em;
  text-align: center;
}

.content {
  width: 80%;
  margin: 0 auto;
  padding-bottom:25px;
}

.content h1 {
  font-size: 3em;
}

.post {
    margin: 0 auto 50px auto;
}

.post .heading h2 {
  margin-bottom: 0;
}

.post .heading h2 a {
  text-decoration: none;
  font-weight: bold;
}

.post .heading p.date {
  text-transform: uppercase;
  font-size: 0.7em;
  margin: 0;
  font-weight: bold;
  color: #666666;
}


@media (min-width: 1000px) {
  .index-header {
    width: 60%;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .index .title {
      grid-column: 1 / 3;
      grid-row: 1;
  }

  .index .tagline {
    grid-column: 3;
    grid-row: 1 / 3;
    writing-mode: vertical-lr;
  }

  .index-header .description {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .index-read-more {
    position:absolute;
    padding:10px;
    bottom:0px;
    margin-left: 50%;
    margin-bottom:40px;
    transform: translateX(-50%);
    text-decoration: none;
    color: white;
    background-color: black;
    font-weight: bold;
  }


  .post {
    width: 90%
  }
}

@media (max-width: 999px) {
  .index-header {
    width: 90%;
  }

  .index-header .title {
    font-size: 3.5em;
  }

  .index-read-more, .index .tagline {
    display: none;
  }

  .index .title {
    text-align:center;
  }

  .content h1 {
    font-size: 2em;
  }

  .content {
    width: 90%;
  }
}
